body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3c8f5;
    color: #1a1919;
}

:root {
    --main-color: #c22863;
}

header, section, footer {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
    
}

header {
    text-align: center;
}

h1 {
    color: var(--main-color);
    text-decoration: underline;
}

h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}

section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    background: linear-gradient(to top, #f16992 0%, #c987b5 100%);
}

footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom left, #e275b1 0%, #e4acd3 100%);
    color: #000000;
}

footer a {
    color:#4e0320; 
    text-decoration: none;
}

footer a:hover {
    color: #24b4ec; 
}

#idiomas {
    background-color: #f4f4f4;
    padding: 20px;
    
}

.languages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 180px;
    text-align: center;
}

.language span {
    font-size: 50px;
    margin-bottom: 10px;
}
.language img {
    width: 100px; 
    height: auto;
    border-radius: 5px;
}


#informatica {
    background-color: #f4f4f4;
    padding: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 0 10px rgba(233, 218, 218, 0.582); 
    width: 180px;
    text-align: center;
}

.skill span {
    font-size: 50px;
    margin-bottom: 10px;
}

#experiencia {
    background-color: #f4f4f4;
    padding: 20px;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.estudios {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
}

.estudios span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-reglada {
    background-color: #f4f4f4;
    padding: 20px;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 0 10px rgba(185, 62, 62, 0.582); 
    width: 180px;
    text-align: center;
}

.degree span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-complementaria {
    background-color: #f4f4f4;
    padding: 20px;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 0 10px rgba(238, 111, 111, 0.582); 
    width: 180px;
    text-align: center;
}

.course span {
    font-size: 50px;
    margin-bottom: 10px;
}
